:root {
  --background-color-light: '#ccc';
  --background-color-dark: '';

  --color-text-light: '';
  --color-text-light: '';

  --border-card-light: '';
  --border-card-dark: '';

  --color: '';
}
